# Question 1 

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
import modulefile

modulefile.b()
modulefile.b()
modulefile.b()
print(modulefile.a)

6

# Explaination 

This is the module file and the interpreter file 

As you can see if i run the function b 1 time the answer is 2
And second time answer is 4 
And third time answer is 6

And the value at last is reflected to be 6 as GLOBAL is called so the change in value in function is reflected in outside as well

# Question 2 

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [2]:
def file_length(file_name):
    
    try:
        file = open(file_name)
        
    except FileNotFoundError:
        print("File " +file_name+" not found.")
    
    else:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
        
file_length("filelength.txt")

file_length("ilelength.txt")

123
File ilelength.txt not found.

# Question 3

In [4]:
class Marsupial:
 
    def __init__(self):
        self.lst = []
 
    def put_in_pouch(self, item):
        self.lst.append(item)
 
    def pouch_contents(self):
        return self.lst
    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

class Marsupial:
 
    def __init__(self):
        self.lst = []
 
    def put_in_pouch(self, item):
        self.lst.append(item)
 
    def pouch_contents(self):
        return self.lst
 
# 2

class Kangaroo(Marsupial):
 
    def __init__(self, x, y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
 
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
 
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x, self.y)
 
 
k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = { 洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐3洧논+1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [5]:
def collatz(x):
    if x == 1:
        print(1)
    else:
        while x != 1:
            if x % 2 == 0:
                x /= 2
                print(int(x))
            else:
                x = (3*x)+1
                print(int(x))

collatz(10)

5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [6]:
def binary(x):
    if x == 0:
        return 0
    else:
        return (x % 2 + 10 * binary(int(x // 2)))
    
print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [7]:
from html.parser import HTMLParser
 
class HeadingParser(HTMLParser):
    checkHeader = False
    indentNo = 0
 
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.checkHeader = True
            self.indentNo = 0
        elif tag == "h2":
            self.checkHeader = True
            self.indentNo = 1
        elif tag == "h3":
            self.checkHeader = True
            self.indentNo = 2
        elif tag == "h4":
            self.checkHeader = True
            self.indentNo = 3
        elif tag == "h5":
            self.checkHeader = True
            self.indentNo = 4
        elif tag == "h6":
            self.checkHeader = True
            self.indentNo = 5
        else:
            self.checkHeader = False
            self.indentNo = 0
 
    def handle_data(self, data):
        if self.checkHeader:
            space = " "*self.indentNo
            print("%s%s" % (space, data))
 
    def handle_endtag(self, tag):
        if tag in ["h1", "h2", "h3", "h4", "h5", "h6"]:
            self.checkHeader = False
 
 
infile = open("w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [20]:
from bs4 import BeautifulSoup, SoupStrainer
import httplib2
 
def getlink(url):
    result = []
    http = httplib2.Http()
    status, response = http.request(url)
 
    for url in BeautifulSoup(response, parse_only=SoupStrainer('a'), features="html.parser"):
        if url.has_attr('href'):
            if url['href'][:5] == "http:" or url['href'][:5] == "https":
                result.append(url['href'])
 
    return result
 
def webdir(url, depth, indent):
 
    print(indent*" " + url)
 
    if depth == 0:
        return
 
    for i in getlink(url):
        webdir(i, depth-1, indent+1)
 
 
webdir("http://reed.cs.depaul.edu/lperkovic/one.html", 2,0)

http://reed.cs.depaul.edu/lperkovic/one.html

# Question 8 

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [3]:
%%sql
CREATE TABLE climate
(
    City       varchar(10),
    Country    varchar(10),
    Season     varchar(10),
    Temprature float,
    RainFall   float
);
INSERT INTO climate
VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9),
       ('Mumbai', 'India', 'Spring', 28.4, 16.2),
       ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
       ('Mumbai', 'India', 'Fall', 27.6, 346.0),
       ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
       ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
       ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
       ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
       ('cairo', 'Egypt', 'Winter', 13.6, 16.5),
       ('cairo', 'Egypt', 'Spring', 20.7, 6.5),
       ('cairo', 'Egypt', 'Summer', 27.7, 0.1),
       ('cairo', 'Egypt', 'Fall', 22.2, 4.5);

 * sqlite:///chinook.db
Done.
12 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [5]:
%%sql
select * from climate

 * sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# 8 A  All the temperature data.

In [6]:
%%sql 
select Temprature from climate

 * sqlite:///chinook.db
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

# 8B  All the cities, but without repetition.

In [7]:
%%sql
select DISTINCT City FROM climate

 * sqlite:///chinook.db
Done.

[('Mumbai',), ('London',), ('cairo',)]

# 8C All the records for India.

In [9]:
%%sql 
select * from climate where Country = "India"

 * sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

# 8D All the Fall records.

In [10]:
%%sql 
select * from climate where Season = "Fall"

 * sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# 8E The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [11]:
%%sql 
select City,Country,Season from climate where RainFall BETWEEN 200 AND 400

 * sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

# 8F The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [13]:
%%sql
select City,Country from climate where Season = "Fall" AND Temprature > 20 order by Temprature ASC

 * sqlite:///chinook.db
Done.

[('cairo', 'Egypt'), ('Mumbai', 'India')]

#  8G  The total annual rainfall for Cairo.

In [14]:
%%sql
select SUM(RainFall) from climate where City = "cairo"

 * sqlite:///chinook.db
Done.

[(27.6,)]

# 8H  The total rainfall for each season.

In [16]:
%%sql
Select Season, SUM(RainFall) from climate group by Season

 * sqlite:///chinook.db
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9 

Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [17]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
 
list1 = [x.upper() for x in words]
 
list2 = [x.lower() for x in words]
 
list3 = [len(i) for i in words]
 
list4 = [[x.upper(), x.lower(), len(x)] for x in words]
 
list5 = [x.lower() for x in words if len(x) > 4]
 
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps']